@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Yeseva+One&display=swap");
* {
  margin: 0;
  padding: 0;
}
.yeseva-one {
  font-family: "Yeseva One", serif;
}
/* shared styles */
.poppins {
  font-family: "Poppins", serif;
  color: rgb(62, 62, 62);
}
.primary-width {
  max-width: 1200px;
  margin: 0 auto;
}
.primary-title {
  font-size: 2.2rem;
}
.primary-content {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 20px;
}
.btn-primary {
  width: 30%;
  color: rgb(255, 255, 255);
  font-weight: 600;
  border-radius: 4px;
  background: rgb(255, 89, 89);
  border: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8;
  padding: 12px;
}
.primary-image {
  width: 30%;
}
/* banner styles */
.banner {
  height: auto;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.banner-title {
  font-size: 3.5rem;
  color: rgb(51, 51, 51);
  border-left: 5px solid rgb(255, 89, 89);
  padding-left: 10px;
}
.mission-2025 {
  color: rgb(255, 173, 90);
}

.banner-img {
  width: 40%;
}
.banner-img img {
  width: 100%;
}
.read-btn {
  width: 40%;
}
/* banner responsive styles */
@media screen and (max-width: 576px) {
  .banner {
    flex-direction: column-reverse;
  }
  .banner-img {
    width: 100%;
  }
  .primary-content {
    width: 90%;
  }
  .btn-primary {
    width: 50%;
  }
}
@media screen and (min-width: 577px) and (max-width: 768px) {
  .banner {
    flex-direction: column-reverse;
  }
  .banner-img {
    width: 80%;
  }
  .primary-content {
    width: 90%;
  }
  .btn-primary {
    width: 50%;
  }
}
@media screen and (min-width: 769px) and (max-width: 992px) {
  .banner {
    width: 90%;
  }
  .primary-content {
    width: 50%;
  }
  .btn-primary {
    width: 50%;
  }
}

/*Mission section styles  */
.mission-title {
  font-size: 2.8rem;
  text-align: center;
  color: rgb(19, 16, 58);
}
.title-2025 {
  color: rgb(255, 173, 90);
}
.mission-container {
  margin: 50px auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.card-image {
  width: 200px;
}

.card-content {
  padding: 20px;
  font-size: 0.9rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-radius: 10px;
  background: rgba(255, 89, 89, 0.1);
}
/* mission section responsive styles */
@media screen and (max-width: 576px) {
  .mission-container {
    grid-template-columns: 1fr;
    padding: 20px;
  }
}
@media screen and (min-width: 576px) and (max-width: 768px) {
  .mission-container {
    grid-template-columns: 1fr;
    padding: 20px;
  }
}
/* development section styles */
.development-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 200px auto;
}

.coding-image {
  width: 100%;
}

.dev-content {
  width: 60%;
}
/* development section responsive styles */

@media screen and (max-width: 576px) {
  .development-container {
    flex-direction: column;
  }
  .primary-image {
    width: 90%;
  }
  .primary-content {
    width: 90%;
  }
}
@media screen and (min-width: 577px) and (max-width: 768px) {
  .development-container {
    flex-direction: column;
  }
  .primary-image {
    width: 60%;
  }
  .primary-content {
    width: 90%;
  }
}
/* global community styles */
.community-container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  margin: 200px auto;
}

.project-image {
  width: 100%;
}

.community-content {
  width: 60%;
}
